.fullscreen-swal {
    z-index: 10000 !important; 
  }
  
  .fullscreen-swal-popup {
    z-index: 10001 !important; 
  }
  .custom-button {
    color: black;
    background-color: #d3a724;
    border: none;
    transition: background-color 0.3s;
    margin-top: 1rem;
    width: 350px;
}

.custom-button:hover {
    background-color: #b69c4c;
}

.flex{
  display: flex;
  justify-content: space-between;
  
}
.distance{
  margin-top: 10px;
  display: grid;
}
.label{
  font-style:normal;
  font-size:20px
}
.link{
  margin-left: 80px;
}


.switch-container i.ph {
  font-size: 24px; /* adjust the size as needed */
  margin-right: 10px; /* adjust the margin as needed */
}
.btn-switch{
  width: 350px;
}

.dropdown-menu{
  
}